/* #plane{
    margin: 50px auto;
} */
.step{
    width: 200px;
    height: 100px;
    margin: 50px auto;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    color:#fff;
    background-color: aquamarine;
    border-radius: 10px 30px 10px 30px;
}
.step .count{
    color: #fff;
    font-size: 20px;
}
.reStart{
    text-align: center;
    margin-top: 40px;
}
button{
    width: 100px;
    height: 50px;
    outline: none;
    background-color: aquamarine;
    color: #fff;
    border: none;
    cursor: pointer;
}
table{
    margin: 0px auto;
    border-spacing: 0px;
}
td{
    box-sizing: border-box;
    padding: 0px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border: 1px solid aquamarine;
}
.red{
    background-color: red;
}
.blue{
    background-color: skyblue;
}
